 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }    
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: auto}
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: auto;
  }
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }
h3 {
color : #5F7FFF;
}
#myBtn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: #5F7FFF;
color: white;
cursor: pointer;
padding: 15px;
border-radius: 4px;
}
#myBtn:hover {
background-color: #555;
}